NODE_ENV=development
PORT=3000
CLIENT_ORIGIN=http://localhost:5173

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=securenotes
TYPEORM_SYNC=true

JWT_ACCESS_SECRET=coloca-aqui-un-secreto-largo-y-aleatorio-para-access
JWT_REFRESH_SECRET=coloca-aqui-otro-secreto-distinto-largo-y-aleatorio-para-refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
REFRESH_COOKIE_NAME=refresh_token
